body {
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
 	background-color: #849d8f;
}

html, body {
	width: 1200px;
	min-height: 2416px;
	margin: 0 auto;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 27px;
	width: 1146px;
}

.main-header-layout {
	display: flex;
	justify-content: space-between;
}

.main-navigation {
	width: 560px;
}

.user-block {
 	width: 267px;
}

.slider-container {
	width: 1146px;
}

.special-offer {
	width: 1146;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.icecream-hits {
	width: 1146;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.features {
	width: 1146;
	display: block;
	margin-bottom: 40px;
}

.news-subscribe {
	width: 1146;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.main-footer-layout {
	width: 1146;
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	margin-bottom: 35px;
}

.icecream-items {
	width: 1146;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.filter {
	width: 1146;
	display: flex;
	justify-content: space-between;
}